* {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: black;
}

.home-body {
  background-image: url("../Image/B9.jpg");
  background-size: cover;
  background-attachment: center;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin: 0;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin: 0;
}

/*Hearder*/

header {
  display: flex;
  align-items: baseline;
}

a {
  text-decoration: none;
}

#logo {
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  padding-right: 180px;
  margin: 0;
  flex: 1;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  font-weight: 600;
}
nav a:hover {
  color: rgb(5, 70, 15);
}

.nav-icons {
  justify-items: flex-end;
  margin-right: 30px;
}

.nav-icons img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

/*Main*/

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

main {
  display: block;
  justify-items: auto;
  align-items: center;
}

.introduction {
  align-items: flex-start;
  padding: 150px 100px;
  margin: 10px 10px;
  border-radius: 8px;
  border-left: 5px;
  line-height: 1.6;
  max-width: 500px;
}

.introduction p {
  font-weight: 500;
  margin: 0;
  color: black;
}

.shop-now {
  padding: 20px 30px;
  margin: 20px 10px;
  border-radius: 5px;
  background-color: rgb(237, 237, 219);
  border: 0;
  display: flex;
}

.shop-now a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}
.shop-now a:hover {
  color: rgb(5, 70, 15);
}

/*Footer*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

/*Flowers*/

.category-container img {
  width: 70%;
  height: 400px;
  display: block;
  margin: 0 auto 5px auto;
  border-radius: 8px;
  object-fit: cover;
}

figure {
  display: block;
  margin: 10px auto;
  text-align: center;
  max-width: 100%;
  transition: transform 0.3 ease, box-shadow 0.3 ease;
}
figure:hover {
  transform: translateY(-10px);
  box-shadow: 5px rgba(0, 0, 0, 0.15);
}

figcaption {
  font-size: 1.2rem;
  font-weight: 500;
}

h2 {
  margin-top: 5%;
}

h2,
h3 {
  color: rgb(101, 86, 65);
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product figcaption {
  text-align: left;
  width: 100%;
  padding-top: 8px;
  margin-left: 60px;
}

.price {
  font-size: 15px;
  display: block;
  text-align: left;
  margin-top: 5px;
}

/*Product detailes*/

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-info h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.money {
  font-size: 25px;
  margin-bottom: 40px;
}

.add {
  background-color: seashell;
  color: black;
  padding: 14px;
  margin-top: 20px;
  border: none;
  width: 400px;
  height: 60px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}
.add:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.description {
  margin-top: 50px;
  line-height: 1.6;
}

.details {
  margin-top: 50px;
  color: #555;
}

/*Tips*/

.conditions {
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 50px;
  border-radius: 8px;
}

.conditions h2 {
  margin-top: 0%;
}

.feature-tips {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.tips {
  display: block;
  margin: 5px 20px;
}

.tips li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: black;
  font-weight: 300;
}

/*Cart table*/

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-img {
  width: 70%;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

button {
  padding: 6px 10px;
  cursor: pointer;
  background-color: antiquewhite;
  border: 0;
}

/*responsive design*/

@media (max-width: 992px) {
  .category-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .product-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .navbar ul {
    gap: 20px;
  }
}

/*mobile version*/

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar ul {
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }

  #logo {
    margin-left: 160px;
  }

  .category-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .product-contanier {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .product-info h1 {
    font-size: 22px;
  }

  .product figcaption {
    margin-left: 90px;
  }

  .add {
    width: 100%;
  }

  table {
    font-size: 14px;
  }
}
